@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/sourcecodepro/v22/HI_diYsKILxRpg3hIP6sJ7fM7PqPMcMnZFqUwX28DMyQtMlrSQ.ttf) format('truetype');
}
html,
body {
  height: 100%;
  margin: 0;
  background-color: #121212;
}
body {
  max-width: 95%;
  margin: 0 auto;
  display: grid;
  grid-row-gap: 1em;
  grid-auto-rows: min-content;
}
body::-webkit-scrollbar {
  width: 1em;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
h2 {
  color: white;
}
footer {
  position: relative;
  width: auto;
  height: 5vh;
}
#mtk-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#mtk-coder {
  box-sizing: border-box;
  max-width: 500px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Source Code Pro", monospace;
  font-size: 28px;
  color: rgba(255, 255, 255, 0.7);
  position: relative;
  background: transparent;
  border: none;
  caret-color: forestgreen;
  outline: none;
}
#border {
  border-bottom: solid 3px rgba(0, 255, 0, 0.75);
  position: absolute;
  right: -7px;
  width: 20px;
}
#mtk-draw {
  max-width: 500px;
  width: 100%;
  object-fit: contain;
  object-position: bottom;
  height: auto;
  max-height: 150px;
}
blockquote {
  font-size: calc(12px + (22 - 12) * ((100vw - 300px) / (2560 - 300)));
  max-width: 500px;
  margin: 1em 0;
  font-style: italic;
  color: #222222;
  padding: 1em;
  border-left: 8px solid #e7d4aa;
  line-height: 1.6;
  position: relative;
  background: #f8f8f8;
}
blockquote::after {
  content: "";
}
blockquote span {
  display: block;
  color: #333333;
  font-style: normal;
  font-weight: bold;
}
a {
  color: white;
  text-decoration: none;
}
#download {
  margin-top: 16px;
  display: flex;
  flex-direction: row-reverse;
  gap: 8px;
  align-items: baseline;
}
#download svg {
  color: white;
  fill: white;
  width: 15px;
  height: 15px;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dashed white;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: max-content;
  max-width: 30vw;
  background-color: #363636;
  color: #fff;
  font-size: 16px;
  text-align: left;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
}
@media only screen and (max-width: 600px) {
  .tooltip .tooltiptext {
    max-width: 50vw;
  }
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

